@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Podstawowe informacje</h2>
<div class="jumbotron col-lg-7">
    <h4>Dane logowania użytkowników</h4>
   
    <div class="col-lg-10">
        <div class="col-lg-2">Admin</div>
        <hr/>
        <div class="col-lg-5">
            <strong>Login:  Admin</strong>
        </div>
        <br/>
        <div class="col-lg-5">
            <strong> Hasło:  Admin1#</strong>
        </div>
    </div>

    <div class="col-lg-10">
        <br />
    </div>
    
    <div class="col-lg-10">
        <div class="col-lg-2">User</div>
        <hr/>
        <div class="col-lg-5">
            <strong>Login: User</strong>
        </div>
        <br/>
        <div class="col-lg-5">
            <strong> Hasło: User1#</strong>
        </div>
    </div>
    <br/>
</div>

<style>
    #login, #password {
        display: inline-block;
    }
</style>