@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h2>Tytuł mema</h2>
    <p class="lead">Memik</p>

    <div class="col-lg-1">
        Plusik
    </div>
    <div class="col-lg-1">
        Minusik
    </div>
</div>
<div class="jumbotron">
    <h2>Tytuł mema</h2>
    <p class="lead">Memik</p>

    <div class="col-lg-1">
        Plusik
    </div>
    <div class="col-lg-1">
        Minusik
    </div>
</div>
<div class="jumbotron">
    <h2>Tytuł mema</h2>
    <p class="lead">Memik</p>

    <div class="col-lg-1">
        Plusik
    </div>
    <div class="col-lg-1">
        Minusik
    </div>
</div>