@model  PagedList.IPagedList<MemesProject.Models.MemeModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Twoja aktywność</h2>

@*<---- Div do wyśrodkowania*@
<div class="col-lg-2"></div>
@*//Div do wyśrodkowania --->*@

<div class="container col-lg-12">
    <div class="jumbotron col-lg-4">
        <dl class="dl-horizontal">
            <dt>Liczba wrzuconych memów</dt>
            <dd>@ViewBag.SumOfMemes</dd>
            <hr />
            <dt>Wyświetl swoje publikowane memy: </dt>
            <dd>@Html.ActionLink("Klik", "ShowMyMemes")</dd>
            <hr />
            <dt>Ile osób łącznie polubiło twoje posty </dt>
            <dd>@ViewBag.SumOfLikes <li class="fa fa-lg fa-thumbs-o-up "></li> </dd>
        </dl>
    </div>
   
</div>


<style>
    .responsive {
        width: 100%;
        height: auto;
    }
</style>